 /*.dashboard-mosaic {
  width: 100%;
  max-width: 1400px; 
  margin: 3rem auto 0 auto;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 2.2rem;
  padding: 2.5rem;
  animation: fadeInUp 0.8s ease-out;
  background: none;
}
  */
.dashboard-mosaic {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(420px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    /* gap: 2.2rem; */
    gap: 2rem 0rem;
    animation: fadeInUp 0.8s ease-out;
    background: none;
    height: 84%;
    justify-items: center;
    align-content: center;
  }
.dashboard-mosaic app-mosaic-card {
  width: 100%;
  max-width: none;
  min-width: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
